<p id="notice"><%= notice %></p>

<p>
  <strong>Subscribe instrument sn:</strong>
  <%= @subscribe.subscribe_instrument_sn %>
</p>

<p>
  <strong>Subscribe user name:</strong>
  <%= @subscribe.subscribe_user_name %>
</p>

<p>
  <strong>Subscribe submit datetime:</strong>
  <%= @subscribe.subscribe_submit_datetime %>
</p>

<p>
  <strong>Subscribe use slot0:</strong>
  <%= @subscribe.subscribe_use_slot0 %>
</p>

<p>
  <strong>Subscribe use slot1:</strong>
  <%= @subscribe.subscribe_use_slot1 %>
</p>

<p>
  <strong>Subscribe use slot2:</strong>
  <%= @subscribe.subscribe_use_slot2 %>
</p>

<p>
  <strong>Subscribe use slot3:</strong>
  <%= @subscribe.subscribe_use_slot3 %>
</p>

<p>
  <strong>Subscribe use slot4:</strong>
  <%= @subscribe.subscribe_use_slot4 %>
</p>

<p>
  <strong>Subscribe use slot5:</strong>
  <%= @subscribe.subscribe_use_slot5 %>
</p>

<p>
  <strong>Subscribe use slot6:</strong>
  <%= @subscribe.subscribe_use_slot6 %>
</p>

<p>
  <strong>Subscribe use slot7:</strong>
  <%= @subscribe.subscribe_use_slot7 %>
</p>

<p>
  <strong>Subscribe use slot8:</strong>
  <%= @subscribe.subscribe_use_slot8 %>
</p>

<p>
  <strong>Subscribe use slot9:</strong>
  <%= @subscribe.subscribe_use_slot9 %>
</p>

<p>
  <strong>Subscribe use slot10:</strong>
  <%= @subscribe.subscribe_use_slot10 %>
</p>

<p>
  <strong>Subscribe use slot11:</strong>
  <%= @subscribe.subscribe_use_slot11 %>
</p>

<p>
  <strong>Subscribe cost:</strong>
  <%= @subscribe.subscribe_cost %>
</p>

<p>
  <strong>Subscribe state:</strong>
  <%= @subscribe.subscribe_state %>
</p>

<%= link_to 'Edit', edit_subscribe_path(@subscribe) %> |
<%= link_to 'Back', subscribes_path %>
