<h1>Login</h1>
<%= @hint %> <%=session[:user_name] %>
<%= form_for :user, :url => {:action => 'login'} do |f| %>

<div class="field">
    <%= f.label :user_loginname %><br>
    <%= f.text_field :user_loginname %>
  </div>
<div class="field">
    <%= f.label :user_password %><br>
    <%= f.text_field :user_password %>
  </div>
<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
<%=submit_tag "login", :class => 'btn btn-default' %>
<%= link_to "back", instruments_path, :class => 'btn btn-default' %>

<% end %>
